/* Scrollbar will only show while scrolling */
.scrollbar-auto {
  scrollbar-width: thin;
}

.scrollbar-auto::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-auto::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.6);
  border-radius: 9999px;
  transition: opacity 0.3s;
  opacity: 0; 
}

.scrollbar-auto:hover::-webkit-scrollbar-thumb,
.scrollbar-auto:active::-webkit-scrollbar-thumb {
  opacity: 1;
}

.scrollbar-auto::-webkit-scrollbar-track {
  background: transparent;
}
